Creation de l'engine Postgres echouee, fallback SQLite memoire: (psycopg2.OperationalError) could not translate host name "db" to address: No such host is known. 

(Background on this error at: https://sqlalche.me/e/20/e3q8)
BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 5bd306f33b2b

CREATE TABLE competences (
    id SERIAL NOT NULL, 
    nom VARCHAR NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (nom)
);

CREATE INDEX ix_competences_id ON competences (id);

CREATE TABLE equipements (
    id SERIAL NOT NULL, 
    nom VARCHAR NOT NULL, 
    type VARCHAR NOT NULL, 
    localisation VARCHAR NOT NULL, 
    frequence_entretien VARCHAR, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_equipements_id ON equipements (id);

CREATE TYPE userrole AS ENUM ('admin', 'responsable', 'technicien', 'client');

CREATE TABLE users (
    id SERIAL NOT NULL, 
    username VARCHAR NOT NULL, 
    full_name VARCHAR NOT NULL, 
    email VARCHAR NOT NULL, 
    hashed_password VARCHAR NOT NULL, 
    role userrole NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_id ON users (id);

CREATE UNIQUE INDEX ix_users_username ON users (username);

CREATE TABLE plannings (
    id SERIAL NOT NULL, 
    frequence VARCHAR NOT NULL, 
    prochaine_date TIMESTAMP WITHOUT TIME ZONE, 
    derniere_date TIMESTAMP WITHOUT TIME ZONE, 
    equipement_id INTEGER, 
    date_creation TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(equipement_id) REFERENCES equipements (id)
);

CREATE INDEX ix_plannings_id ON plannings (id);

CREATE TABLE techniciens (
    id SERIAL NOT NULL, 
    equipe VARCHAR, 
    disponibilite VARCHAR, 
    user_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_techniciens_id ON techniciens (id);

CREATE TYPE interventiontype AS ENUM ('corrective', 'preventive');

CREATE TYPE statutintervention AS ENUM ('ouverte', 'affectee', 'en_cours', 'en_attente', 'cloturee', 'archivee');

CREATE TABLE interventions (
    id SERIAL NOT NULL, 
    titre VARCHAR NOT NULL, 
    description VARCHAR, 
    type interventiontype NOT NULL, 
    statut statutintervention NOT NULL, 
    priorite INTEGER, 
    urgence BOOLEAN, 
    date_creation TIMESTAMP WITHOUT TIME ZONE, 
    date_limite TIMESTAMP WITHOUT TIME ZONE, 
    date_cloture TIMESTAMP WITHOUT TIME ZONE, 
    technicien_id INTEGER, 
    equipement_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(equipement_id) REFERENCES equipements (id), 
    FOREIGN KEY(technicien_id) REFERENCES techniciens (id)
);

CREATE INDEX ix_interventions_id ON interventions (id);

CREATE TABLE technicien_competence (
    technicien_id INTEGER, 
    competence_id INTEGER, 
    FOREIGN KEY(competence_id) REFERENCES competences (id), 
    FOREIGN KEY(technicien_id) REFERENCES techniciens (id)
);

CREATE TABLE documents (
    id SERIAL NOT NULL, 
    nom_fichier VARCHAR NOT NULL, 
    chemin VARCHAR NOT NULL, 
    date_upload TIMESTAMP WITHOUT TIME ZONE, 
    intervention_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(intervention_id) REFERENCES interventions (id)
);

CREATE INDEX ix_documents_id ON documents (id);

CREATE TABLE historiques_interventions (
    id SERIAL NOT NULL, 
    statut statutintervention NOT NULL, 
    remarque VARCHAR, 
    horodatage TIMESTAMP WITHOUT TIME ZONE, 
    intervention_id INTEGER, 
    user_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(intervention_id) REFERENCES interventions (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_historiques_interventions_id ON historiques_interventions (id);

CREATE TABLE notifications (
    id SERIAL NOT NULL, 
    type VARCHAR NOT NULL, 
    canal VARCHAR NOT NULL, 
    contenu VARCHAR, 
    date_envoi TIMESTAMP WITHOUT TIME ZONE, 
    intervention_id INTEGER, 
    user_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(intervention_id) REFERENCES interventions (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_notifications_id ON notifications (id);

INSERT INTO alembic_version (version_num) VALUES ('5bd306f33b2b') RETURNING alembic_version.version_num;

-- Running upgrade 5bd306f33b2b -> e576b04091b6

ALTER TABLE documents ALTER COLUMN intervention_id SET NOT NULL;

ALTER TABLE notifications ALTER COLUMN intervention_id SET NOT NULL;

ALTER TABLE notifications ALTER COLUMN user_id SET NOT NULL;

ALTER TABLE plannings ALTER COLUMN equipement_id SET NOT NULL;

ALTER TABLE users ADD COLUMN is_active BOOLEAN;

CREATE INDEX ix_users_role ON users (role);

UPDATE alembic_version SET version_num='e576b04091b6' WHERE alembic_version.version_num = '5bd306f33b2b';

-- Running upgrade e576b04091b6 -> bb94288d88f3

ALTER TABLE documents DROP CONSTRAINT documents_intervention_id_fkey;

ALTER TABLE documents ADD FOREIGN KEY(intervention_id) REFERENCES interventions (id) ON DELETE CASCADE;

ALTER TABLE historiques_interventions ALTER COLUMN intervention_id SET NOT NULL;

ALTER TABLE historiques_interventions ALTER COLUMN user_id SET NOT NULL;

ALTER TABLE historiques_interventions DROP CONSTRAINT historiques_interventions_intervention_id_fkey;

ALTER TABLE historiques_interventions DROP CONSTRAINT historiques_interventions_user_id_fkey;

ALTER TABLE historiques_interventions ADD FOREIGN KEY(intervention_id) REFERENCES interventions (id) ON DELETE CASCADE;

ALTER TABLE historiques_interventions ADD FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE interventions DROP CONSTRAINT interventions_equipement_id_fkey;

ALTER TABLE interventions DROP CONSTRAINT interventions_technicien_id_fkey;

ALTER TABLE interventions ADD FOREIGN KEY(technicien_id) REFERENCES techniciens (id) ON DELETE SET NULL;

ALTER TABLE interventions ADD FOREIGN KEY(equipement_id) REFERENCES equipements (id) ON DELETE CASCADE;

ALTER TABLE notifications DROP CONSTRAINT notifications_intervention_id_fkey;

ALTER TABLE notifications DROP CONSTRAINT notifications_user_id_fkey;

ALTER TABLE notifications ADD FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE notifications ADD FOREIGN KEY(intervention_id) REFERENCES interventions (id) ON DELETE CASCADE;

ALTER TABLE plannings DROP CONSTRAINT plannings_equipement_id_fkey;

ALTER TABLE plannings ADD FOREIGN KEY(equipement_id) REFERENCES equipements (id) ON DELETE CASCADE;

ALTER TABLE technicien_competence DROP CONSTRAINT technicien_competence_competence_id_fkey;

ALTER TABLE technicien_competence DROP CONSTRAINT technicien_competence_technicien_id_fkey;

ALTER TABLE technicien_competence ADD FOREIGN KEY(competence_id) REFERENCES competences (id) ON DELETE CASCADE;

ALTER TABLE technicien_competence ADD FOREIGN KEY(technicien_id) REFERENCES techniciens (id) ON DELETE CASCADE;

ALTER TABLE techniciens ALTER COLUMN user_id SET NOT NULL;

ALTER TABLE techniciens DROP CONSTRAINT techniciens_user_id_fkey;

ALTER TABLE techniciens ADD FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE;

UPDATE alembic_version SET version_num='bb94288d88f3' WHERE alembic_version.version_num = 'e576b04091b6';

-- Running upgrade bb94288d88f3 -> 2a1f3c8d7c1b

CREATE TABLE clients (
    id SERIAL NOT NULL, 
    nom_entreprise VARCHAR(255) NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    date_creation TIMESTAMP WITHOUT TIME ZONE DEFAULT NOW() NOT NULL, 
    date_modification TIMESTAMP WITHOUT TIME ZONE, 
    user_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    UNIQUE (email), 
    UNIQUE (user_id)
);

CREATE INDEX ix_clients_id ON clients (id);

CREATE UNIQUE INDEX ix_clients_email ON clients (email);

CREATE TABLE contrats (
    id SERIAL NOT NULL, 
    numero_contrat VARCHAR(50) NOT NULL, 
    nom_contrat VARCHAR(255) NOT NULL, 
    date_debut DATE NOT NULL, 
    date_fin DATE NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    date_creation TIMESTAMP WITHOUT TIME ZONE DEFAULT NOW() NOT NULL, 
    date_modification TIMESTAMP WITHOUT TIME ZONE, 
    client_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(client_id) REFERENCES clients (id) ON DELETE CASCADE, 
    UNIQUE (numero_contrat)
);

CREATE INDEX ix_contrats_id ON contrats (id);

CREATE INDEX ix_contrats_client ON contrats (client_id);

UPDATE alembic_version SET version_num='2a1f3c8d7c1b' WHERE alembic_version.version_num = 'bb94288d88f3';

-- Running upgrade 2a1f3c8d7c1b -> df44b376bc8a

CREATE TABLE report_schedules (
    id SERIAL NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    description TEXT, 
    report_type VARCHAR(50) NOT NULL, 
    report_format VARCHAR(10) NOT NULL, 
    report_title_template VARCHAR(255), 
    cron_expression VARCHAR(100) NOT NULL, 
    timezone VARCHAR(50), 
    default_filters JSON, 
    default_parameters JSON, 
    email_enabled BOOLEAN, 
    email_recipients JSON, 
    email_subject_template VARCHAR(255), 
    email_body_template TEXT, 
    keep_reports_days INTEGER, 
    max_reports_to_keep INTEGER, 
    is_active BOOLEAN NOT NULL, 
    last_run_at TIMESTAMP WITHOUT TIME ZONE, 
    next_run_at TIMESTAMP WITHOUT TIME ZONE, 
    last_success_at TIMESTAMP WITHOUT TIME ZONE, 
    last_error_message TEXT, 
    run_count INTEGER, 
    success_count INTEGER, 
    date_creation TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    date_modification TIMESTAMP WITHOUT TIME ZONE, 
    created_by_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by_id) REFERENCES users (id) ON DELETE SET NULL
);

CREATE INDEX ix_report_schedules_id ON report_schedules (id);

CREATE INDEX ix_report_schedules_next_run_at ON report_schedules (next_run_at);

CREATE TABLE reports (
    id SERIAL NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    description TEXT, 
    report_type VARCHAR(50) NOT NULL, 
    report_format VARCHAR(10) NOT NULL, 
    status VARCHAR(20) NOT NULL, 
    file_path VARCHAR(500), 
    file_name VARCHAR(255), 
    file_size BIGINT, 
    mime_type VARCHAR(100), 
    filters_json JSON, 
    parameters JSON, 
    date_creation TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    date_generation_start TIMESTAMP WITHOUT TIME ZONE, 
    date_generation_end TIMESTAMP WITHOUT TIME ZONE, 
    date_expiration TIMESTAMP WITHOUT TIME ZONE, 
    is_public BOOLEAN NOT NULL, 
    is_downloadable BOOLEAN NOT NULL, 
    access_token VARCHAR(100), 
    download_count INTEGER NOT NULL, 
    last_downloaded_at TIMESTAMP WITHOUT TIME ZONE, 
    error_message TEXT, 
    generation_log TEXT, 
    created_by_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by_id) REFERENCES users (id) ON DELETE SET NULL, 
    UNIQUE (access_token)
);

CREATE INDEX ix_reports_date_creation ON reports (date_creation);

CREATE INDEX ix_reports_date_expiration ON reports (date_expiration);

CREATE INDEX ix_reports_id ON reports (id);

CREATE INDEX ix_reports_report_format ON reports (report_format);

CREATE INDEX ix_reports_report_type ON reports (report_type);

CREATE INDEX ix_reports_status ON reports (status);

CREATE INDEX ix_reports_title ON reports (title);

ALTER TABLE equipements ADD UNIQUE (nom);

ALTER TABLE interventions ADD COLUMN date_debut_travaux TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE interventions ADD COLUMN duree_estimee INTEGER;

ALTER TABLE interventions ADD COLUMN duree_reelle INTEGER;

ALTER TABLE interventions ADD COLUMN cout_estime INTEGER;

ALTER TABLE interventions ADD COLUMN cout_reel INTEGER;

ALTER TABLE interventions ADD COLUMN client_id INTEGER;

ALTER TABLE interventions ADD COLUMN contrat_id INTEGER;

ALTER TABLE interventions ALTER COLUMN description TYPE TEXT;

ALTER TABLE interventions ALTER COLUMN urgence SET NOT NULL;

ALTER TABLE interventions ALTER COLUMN date_creation SET NOT NULL;

CREATE INDEX ix_interventions_date_creation ON interventions (date_creation);

CREATE INDEX ix_interventions_statut ON interventions (statut);

CREATE INDEX ix_interventions_titre ON interventions (titre);

CREATE INDEX ix_interventions_type ON interventions (type);

ALTER TABLE interventions ADD FOREIGN KEY(client_id) REFERENCES clients (id) ON DELETE CASCADE;

ALTER TABLE interventions ADD FOREIGN KEY(contrat_id) REFERENCES contrats (id) ON DELETE SET NULL;

ALTER TABLE users ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL;

ALTER TABLE users ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE users ADD COLUMN last_login TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE users ALTER COLUMN is_active SET NOT NULL;

UPDATE alembic_version SET version_num='df44b376bc8a' WHERE alembic_version.version_num = '2a1f3c8d7c1b';

COMMIT;

